body{
background: #e6ffcc;
}
.tab-content{
	height: 480px;
	overflow: auto;
}

.titulo{
height: 45px;
background-color:black;
margin-bottom: 15px;
}

#title{
margin-top: 0px;
}
#map {
  width:100%;
  height:500px;
  border: 20px solid white;
}



